/* ---------------------------------------------------------------- General styling */
body {
  background-color: whitesmoke;
  font-size: 16px;
}

h1 {
  background-color: darkcyan;
  color: white;
  font-size: 3.8rem;
  font-weight: 600;
  padding: 10px;
  border-radius: 7px;
  margin-top: 70px;
}

.title {
  background-color: inherit;
  color: darkred;
  font-size: 4rem;
  font-weight: 600;
  padding: 0;
  margin-top: 20px;
}

h2, h3, h4, h5 {
  background-color: inherit;
  color: darkcyan;
  font-weight: 600;
  padding: 0;
  border-radius: 7px;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 2.2rem;
}

.author {
  background-color: inherit;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  padding: 0;
}

.date {
  background-color: inherit;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  padding: 0;
}

p {
  font-size: 1.6rem
}

pre, pre.sourceCode {
  background-color: white;
  border: 1px solid silver;
  border-radius: 7px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5)
}



/* ---------------------------------------------------------------- TOC */
.list-group-item.active, .list-group-item.active:hover {
  background-color: darkcyan;
  border-color: darkcyan;
}

.list-group-item {
  color: darkcyan;
}

.list-group-item:hover {
  background-color: darkcyan;
  color: white;
}



/* ---------------------------------------------------------------- Text styling */
.p-red {
  color: darkred;
}

.p-green {
  color: darkgreen;
}

.p-blue {
  color: navy;
}

.p-purple {
  color: purple;
}

.p-bold {
  font-weight: 600;
}

.p-underline {
  text-decoration: underline;
}

.p-120 {
  font-size: 120%;
}

.p-140 {
  font-size: 140%;
}



/* ---------------------------------------------------------------- Chunk styling */
.scroll-200-red,
.scroll-200-green {
  background-color: inherit;
  overflow-y: auto;
  max-height: 200px;
  font-weight: 600;
}

.scroll-200-red {
  color: darkred;
}

.scroll-200-green {
  color: darkgreen;
}

/* --------------- Chrome scrollbar ------------ */
.scroll-200-red::-webkit-scrollbar,
.scroll-200-green::-webkit-scrollbar {
  width: 10px;
}

.scroll-200-red::-webkit-scrollbar-track,
.scroll-200-green::-webkit-scrollbar-track {
  border-radius: 7px;
  background-color: inherit;
  color: inherit;
}

.scroll-200-red::-webkit-scrollbar-thumb,
.scroll-200-green::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: silver;
  color: silver;
}

.scroll-200-red::-webkit-scrollbar-thumb:hover,
.scroll-200-green::-webkit-scrollbar-thumb:hover {
  border-radius: 7px;
  background-color: darkcyan;
  color: darkcyan;
}

/* --------------- Mozilla scrollbar ------------ */
.scroll-200-red::-moz-scrollbar,
.scroll-200-green::-moz-scrollbar {
  width: 10px;
}

.scroll-200-red::-moz-scrollbar-track,
.scroll-200-green::-moz-scrollbar-track {
  border-radius: 7px;
  background-color: inherit;
  color: inherit;
}

.scroll-200-red::-moz-scrollbar-thumb,
.scroll-200-green::-moz-scrollbar-thumb {
  border-radius: 7px;
  background-color: silver;
  color: silver;
}

.scroll-200-red::-moz-scrollbar-thumb:hover,
.scroll-200-green::-moz-scrollbar-thumb:hover {
  border-radius: 7px;
  background-color: darkcyan;
  color: darkcyan;
}


.note {
  width: 100%;
  border: 3px ridge darkorange;
  background-color: rgba(200, 200, 0, 0.3);
  padding: 5px;
  border-radius: 7px;
}


